<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{../css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="hat">
    <table>
        <tr>
            <td>
                <img th:src="'/img/garment.png'" class="logo">
            </td>
            <td style="margin-left: 250px">
                <h1 class="head1">
                    Виртуальный гардероб
                </h1>
                <h2 class="head2">создай свой стильный образ</h2>
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="loginpole">
    <form class="form-horizontal" method="post" action="/doLogin">
        <div class="form-group">
            <label for="username" class="loginlabel">Логин</label>
            <div class="col-sm-5">
                <input class="login-form-control" type="text" placeholder="Введите логин" name="username" id="username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="loginlabel">Пароль</label>
            <div class="col-sm-5">
                <input class="login-form-control" type="password" placeholder="Введите пароль" name="password" id="password">
            </div>
        </div>
        <br>
        <div class="loginbutton">
            <div >
                <button type="submit" class="logbtn">Войти</button>
            </div>
            <div th:if="${param.error}">
                Неправильный логин или пароль
            </div>
            <br>
            <br>
            <button type="button" class="allbuttons">
                <a th:href="@{/register}" th:text="'Регистрация'"/>
            </button>
        </div>
    </form>
</div>

</body>
</html>